In [1]:
# 문자열 사용하기

In [6]:
s1 = "I 'm a student."
s2 = 'I \'m a student.'
s3 = '''I'm a student.'''

#3개다 동일

In [9]:
s4 = '''
안녕하세요?
저는 00입니다.
'''
s4

'\n안녕하세요?\n저는 00입니다.\n'

In [10]:
'철수' + '영희'

'철수영희'

In [13]:
name1, name2 = '철수', '영희'
res = name1 + '와' + name2 + '제주도에 삽니다.'
철수와 영희는 제주도에 삽니다.

SyntaxError: invalid syntax (<ipython-input-13-246b9dd487ee>, line 3)

In [16]:
name1, name2 = '철수', '영희'
res = name1 + '와 ' + name2 + '는 제주도에 삽니다.'
print(res)

철수와 영희는 제주도에 삽니다.

In [17]:
#Python 3.6부터 f-string 사용 가능
res2 = f'{name1}와 {name2}는 제주도에 삽니다.'
print(res2)

철수와 영희는 제주도에 삽니다.