In [34]:
# Unit 11.시퀀스 자료형 활용하기   #값이 연속(sequnce)적으로 활용됨

In [35]:
a=[]
a.append(1)
a

[1]

-특정값이 있는지 확인

In [36]:
10 in [1,3,10,30]

True

In [37]:
10 in range(10)

False

In [38]:
's' not in 'python'

True

- 객체 연결

In [39]:
[1, 2, 3] + [4, 5]

[1, 2, 3, 4, 5]

In [40]:
(1,2,3) + (4,5)             #기본 튜플이 아니기 때문에 가능

(1, 2, 3, 4, 5)

In [41]:
'hello ' + 'python'

'hello python'

In [42]:
#range는 안됨
range(5) + range(3)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [43]:
list(range(5)) + list(range(3))    #list를 range로 변환 후 더하기

[0, 1, 2, 3, 4, 0, 1, 2]

In [48]:
'hello' + str(10)      #정수를 문자열로 바꿔줌 str

'hello10'

In [51]:
f'hello {10}'

'hello 10'

-반복

In [52]:
[1,3,4] * 3

[1, 3, 4, 1, 3, 4, 1, 3, 4]

In [53]:
(1,2,3) *3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [55]:
'python ' * 3

'python python python '

In [56]:
list(range(5))*3

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

- element  갯수 구하기

In [57]:
len([1,2,3])

3

In [59]:
len(range(5)), len(range(1,10,2))

(5, 5)

In [62]:
len("안녕하세요?")

6

In [63]:
len(" 안녕하세요?")

7

-인덱스 사용

In [64]:
a= [38,21,53,62,19]
a[0],a[2]

(38, 53)

In [68]:
a[len(a)-1], a[-1]

(19, 19)

In [70]:
s = "Hello, World!"
s[0], s[7]

('H', 'W')

In [71]:
s[-1],s[-2]

('!', 'd')

In [76]:
a

[38, 21, 53, 62, 19]

In [78]:
del a[3]
a

[38, 21, 53, 19]

In [81]:
### 11.4 슬라이스!!

In [86]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[0:4]   #인덱스 0부터 3까지 잘라서 새 리스트를 만듦

[0, 10, 20, 30]

In [91]:
a[4:7], a[7:-1]

([40, 50, 60], [70, 80])

In [92]:
a[:4],a[7:]

([0, 10, 20, 30], [70, 80, 90])

In [93]:
a[::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [96]:
a[0:-1:2], a[::2]

([0, 20, 40, 60, 80], [0, 20, 40, 60, 80])

In [98]:
a[7:len(a)]

[70, 80, 90]

In [101]:
s = "Hello, World!"
s[:5], s[-6:-1]

('Hello', 'World')

In [102]:
s = 'madam'         # 앞뒤가 똑같기 때문에 가능
s == s[::1]

True

In [105]:
num = 1234321
s = str(num)
s == s[::1]

True

In [109]:
 a[3:6] = [100,200,300]
 a

[0, 10, 20, 100, 200, 300, 70, 80, 90]

In [119]:
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [122]:
del a[3:5]
a

[0, 10, 20, 70, 80, 90]