In [34]:
# Unit 11.시퀀스 자료형 활용하기   #값이 연속(sequnce)적으로 활용됨

In [35]:
a=[]
a.append(1)
a

[1]

-특정값이 있는지 확인

In [36]:
10 in [1,3,10,30]

True

In [37]:
10 in range(10)

False

In [38]:
's' not in 'python'

True

- 객체 연결

In [39]:
[1, 2, 3] + [4, 5]

[1, 2, 3, 4, 5]

In [40]:
(1,2,3) + (4,5)             #기본 튜플이 아니기 때문에 가능

(1, 2, 3, 4, 5)

In [41]:
'hello ' + 'python'

'hello python'

In [42]:
#range는 안됨
range(5) + range(3)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [43]:
list(range(5)) + list(range(3))    #list를 range로 변환 후 더하기

[0, 1, 2, 3, 4, 0, 1, 2]

In [48]:
'hello' + str(10)      #정수를 문자열로 바꿔줌 str

'hello10'

In [51]:
f'hello {10}'

'hello 10'