In [2]:
# U16. 반복문

In [4]:
for i in range(5):
    print("Hello World!", i)

Hello World! 0
Hello World! 1
Hello World! 2
Hello World! 3
Hello World! 4

In [5]:
for i in range(3,9) :
    print("Hello, world.",i)

Hello, world. 3
Hello, world. 4
Hello, world. 5
Hello, world. 6
Hello, world. 7
Hello, world. 8

In [6]:
for i in range(1,10,2):
    print("Hello, world.",i)

Hello, world. 1
Hello, world. 3
Hello, world. 5
Hello, world. 7
Hello, world. 9

In [11]:
for i in range(10,1,-2) :
    print("Hello, world.",i)

Hello, world. 10
Hello, world. 8
Hello, world. 6
Hello, world. 4
Hello, world. 2

In [16]:
for i in range (5) :
    i *= 2
    print(i)

0
2
4
6
8

In [20]:
# for loop의 index의 값은 변경시키지 말 것!!
for i in range(5) :
    k = i * 2
    print(k)

0
2
4
6
8

In [21]:
a = [10, 20, 30, 40, 50,]
for i in a:
    print(i)

10
20
30
40
50

In [22]:
fruits = ('사과', '배', '귤')
for fruit in fruits : 
    print(fruit)

사과
배
귤

In [28]:
for letter in 'Python' :
    print(letter, end=' ')

P y t h o n

-반복문 응용

In [30]:
#1~100까지의 합
sum = 0
for i in range(1,101):
    sum += i
print(sum)

5050

In [31]:
#1~10까지의 곱
product = 1
for i in range(1,11):
    product *= i
print(product)

3628800

In [32]:
#1~10까지의 루트 값을 리스트로 만들기
import math
math.sqrt(4)

2.0

In [41]:
#1~10까지의 루트 값을 리스트로 만들기
sqrt_num = []
for i in range(1,11):
    sqrt_num.append(round(math.sqrt(i),4))
sqrt_num

[1.0, 1.4142, 1.7321, 2.0, 2.2361, 2.4495, 2.6458, 2.8284, 3.0, 3.1623]