# 리스트 응용하기

- 요소 추가

In [2]:
a = [10, 20, 30 ]
a.append(40)
a

[10, 20, 30, 40]

In [6]:
a. insert(0,34)
a

[34, 34, 34, 34, 10, 20, 30, 40]

In [8]:
a.append([100,200])
a

[34, 34, 34, 34, 10, 20, 30, 40, [100, 200], [100, 200]]

In [9]:
b = [1, 2, 3]
b.extend([30, 40])
b

[1, 2, 3, 30, 40]

In [10]:
len(a)

10

In [11]:
a=[10, 20, 30]
a

[10, 20, 30]

In [12]:
a.insert(2,300)
a

[10, 20, 300, 30]

- 요소 삭제

In [13]:
a = [1, 2, 3, 4]
a

[1, 2, 3, 4]

In [14]:
del a[-1]
a

[1, 2, 3]

In [16]:
a = [1, 2, 3, 4]
a.pop()
a

[1, 2, 3]

In [18]:
a = [1, 2, 3, 4]
a.pop(0)
a

[2, 3, 4]

In [19]:
#스택 ,큐 
# 스택 : Last-In, First-Out #LIFO
#stack.append()
#stack.pop()
# 큐 : First-In, First-Out # FIFO
#queue.insert(0)
#queue.pop()

In [23]:
a = [1, 2, 3, 4]
a.remove(2)
a

[1, 3, 4]

- 특정값의 인덱스 찾기

In [38]:
a = [10, 20, 30, 15, 20, 40]
a.index(20)

1

In [29]:
for index, elemant in enumerate(a):       #enumerate 무조건 기억
    print(f'index: {index}, value: {elemant}')

index: 0, value: 10
index: 1, value: 20
index: 2, value: 30
index: 3, value: 15
index: 4, value: 20
index: 5, value: 40

In [34]:
for i in range(len(a)):
    print(f'index:{i}, value: {a[i]}')

index:0, value: 10
index:1, value: 20
index:2, value: 30
index:3, value: 15
index:4, value: 20
index:5, value: 40

In [37]:
value = 20
for index, element in enumerate(a):
    if elemant == value:
        break
print(index)

5

In [40]:
#특정값의 갯수 구하기
a = [10, 20, 30, 15, 20, 40]
a.count(20)

2

In [46]:
#리스트의 순서 뒤집기
a = [10, 20, 30, 15, 20, 40]
a.reverse()
a

[40, 20, 15, 30, 20, 10]

In [45]:
a = [10, 20, 30, 15, 20, 40]
a[::-1]

[40, 20, 15, 30, 20, 10]

In [49]:
#리스트 정렬 (오름차순 정렬(ascending order))
a = [10, 20, 30, 15, 20, 40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [50]:
#리스트 정렬 (내림차순 정렬(descending order))
a = [10, 20, 30, 15, 20, 40]
a.sort(reverse=True)
a

[40, 30, 20, 20, 15, 10]

In [ ]:
#sorted는 정렬된 새 리스트를 생성 , 변하지 않음 (sort는 변함)

In [51]:
b = [10, 20, 30, 15, 20, 40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [52]:
b

[10, 20, 30, 15, 20, 40]

- 리스트 복사

In [67]:
a = [40, 30, 20, 20, 15, 10]
b = a
b[-1] = 300
a,b

([40, 30, 20, 20, 15, 300], [40, 30, 20, 20, 15, 300])

In [69]:
id(a),id(b)

(1959250635904, 1959250635904)

In [59]:
a is b

True

In [73]:
a

[40, 30, 20, 20, 15, 300]

In [74]:
b = a.copy()
b[-1] = 88
b

[40, 30, 20, 20, 15, 88]

In [75]:
a

[40, 30, 20, 20, 15, 300]

In [76]:
id(a),id(b)

(1959250635904, 1959249786112)

- 22-3 반복문과 리스트

In [77]:
a = [38, 21, 53, 62, 19]
for i in a:
    print(i)

38
21
53
62
19

- 인덱스와 요소를 동시에 엑세스

In [80]:
a = [38, 21, 53, 62, 19]
for index, value in enumerate(a):
    print(index,value)

0 38
1 21
2 53
3 62
4 19

In [81]:
fruits = ['사과','배','귤','감']
for index, fruit in enumerate(fruits):
    print(index,fruit)

0 사과
1 배
2 귤
3 감

### 22-4. 리스트의 최대값, 최소값, 합계 구하기

In [83]:
a = [38, 21, 53, 62, 19]
small = 10000
for elemant in a:
    if elemant < small:
        small = elemant
small

19

In [84]:
a = [38, 21, 53, 62, 19]
large = -1
for elemant in a:
    if elemant > large:
        large = elemant
large

62

In [85]:
min(a), max(a)  #min = 리스트 안의 최소값
                #max = 리스트 안의 최대값

(19, 62)

In [87]:
sum(a)           #sum = 리스트들의 합계

193

In [88]:
a = [38, 21, 53, 62, 19]
sum = 0                   #이 순간 sum은 함수의 sum이 아님.
for i in a:
    sum += i
sum

193

In [90]:
sum(a)                    #그래서 error가 나옴.

TypeError: 'int' object is not callable

In [95]:
a = [38, 21, 53, 62, 19]
sum_ = 0                #이런식으로 Sum_처럼 다른걸로 바꿔야 함.
for i in a:
    sum_ += i
sum_

193

### 22-5. 리스트 표현식(Comprehension)

In [99]:
# 1에서 10까지의 제곱수로 된 리스트를 만드세요
square_list = []
for i in range(1,11):
    square_list.append(i*i)
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [100]:
square_list = [i*i for i in range(1,11)]
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [110]:
#홀수 제곱들 뽑을때
odd_sq = []
for i in range(1,11):
    if i % 2 == 1:
        odd_sq.append(i*i)
odd_sq

[1, 9, 25, 49, 81]

In [105]:
odd_sq = [i*i for i in range(1,11) if i % 2 == 1]
odd_sq

[1, 9, 25, 49, 81]

In [111]:
# 두 수를 m,n으로 받아서 m과 n 사이에 
# 3의 배수의 제곱수로 된 리스트를 구하라.

In [113]:
min_ = []
m,n = int(input())
for i in range(m,n+1):
    if i % 3 == 0 :
        min_.append(i*i)
min_()

ValueError: invalid literal for int() with base 10: '3 14'