# Unit 24. 문자열 응용

- 문자열 바꾸기

In [6]:
s = 'Hello, Python'
d = s.replace('Python', 'World')
print(s,' / ',d)

Hello, Python  /  Hello, World

- 정규 표현식 ( Regular Expression)

In [12]:
#정규표현식
import re
s = '안녕하세요? Python 코딩 강좌입니다.'
re.sub('[^가-힣 ]',' ', s)                          #한글은 가-힣까지 있음.
                                                    #공백과 한글이 아닌 글자는 공백을 변환

'안녕하세요         코딩 강좌입니다 '

In [13]:
re.sub('[0-9A-Za-z]','.','regualr expression 999')        # 영문자,숫자를 .으로 변환

'....... .......... ...'

- 문자열 분리

In [31]:
s = 'A quick brown fox jumps over the lazy dog.'         # a-b까지 다 포함
d = s. split()
d

['A', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog.']

In [21]:
s = 'A-quick-brown-fox-jumps-over-the-lazy-dog.' 
d = s.split('-')
d

['A', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog.']

- 문자열 연결(리스트를 한 문장으로)

In [23]:
' '.join(d)

'A quick brown fox jumps over the lazy dog.'

- 대소문자 변환

In [25]:
'python'.upper(), 'PYTHON'.lower()

('PYTHON', 'python')

- 불필요한 공백 삭제

In [27]:
s = '   python world   '                                  # python world 사이에 있는 공백은 삭제가 안됨.
s.strip(), s.lstrip(), s.rstrip()

('python world', 'python world   ', '   python world')

- 구두점 삭제

In [29]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [30]:
',=python.!'.strip(string.punctuation)

'python'

- Method chaning

In [34]:
s = 'A-,quick-,brown-,fox-,jumps-,over-,the-,lazy-,dog.'             #Method chaning 아님
' '.join(s.split('-,'))

'A quick brown fox jumps over the lazy dog.'

In [36]:
',=python.!'.lstrip(',=').rstrip('.!').upper()                      #Method chaning

'PYTHON'

- 문자열 위치 찾기

In [38]:
'apple pineapple'.find('pl')             #pl이 나오는 첫번째 인덱스 값

2

In [41]:
'apple'.find('xx')                      #없는 값을 찾으면 값으로 -1이 나옴

-1

In [42]:
'apple pineapple'.index('pl')

2

In [44]:
'apple'.index('xx')                    #인덱스는 없는 값을 찾으면 에러를 발생시킴

ValueError: substring not found

- 문자열 갯수 세기

In [45]:
'apple pineapple'.count('pl')

2

In [46]:
'apple pineapple'.count('p')

5

### 24-2. 문자열 포매팅

In [49]:
s = 'python'                                      #문자
f'{s:10s}'

'python    '

In [52]:
d = 3                                            #정수
f'{d:4d}:{d:02d}'

'   3:03'

In [53]:
year, month, day = 2021, 3, 8
f'오늘은 {year}-{month:02d}-{day:02d}입니다.'

'오늘은 2021-03-08입니다.'

In [57]:
price = 36000
f'이 물건의 가격은 {price:,d}원 입니다.'

'이 물건의 가격은 36,000원 입니다.'

In [58]:
price = 36000
f'이 물건의 가격은 {price:10,d}원 입니다.'

'이 물건의 가격은     36,000원 입니다.'

In [59]:
import math
f'파이값은 {math.pi:.5f} 입니다.'

'파이값은 3.14159 입니다.'

In [60]:
import math
f'파이값은 {math.pi:10.5f} 입니다.'

'파이값은    3.14159 입니다.'

i ate ohs apples