# Unit 30. 위치 인수, 키워드 인수

In [3]:
print(10,20, sep = ', ' , end='\n\n')

10, 20

- 위치인수

In [7]:
def print_3numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [8]:
print_3numbers(10,20,30)

10
20
30

In [13]:
x = [10,20,30] 
print_3numbers(*x)       #리스트 언패킹 #*d

10
20
30

In [15]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [16]:
print_numbers(100)

100

In [17]:
print_numbers(10,20,30)

10
20
30

In [18]:
print_numbers()

- 고정인수, 가변인수 함께 사용

In [20]:
def print_n_numbers(a, *args):
    print(a)
    for arg in args:
        print(arg)

In [24]:
print_n_numbers(10)

10

- 키워드 인수

In [29]:
# 위치 인수로 호출
def personal_info(name, age, address):
    print('이름:', name)
    print('나이:', age)
    print('주소:', address)

In [28]:
personal_info('홍길동',25,'제주도 제주시 노형동')

이름: 홍길동
나이: 25
주소: 제주도 제주시 노형동

In [30]:
# 키워드 인수로 호출
personal_info(age=25,address='제주도 제주시 연동',name='오현승')

이름: 오현승
나이: 25
주소: 제주도 제주시 연동

- 키워드 인수를 사용하는 가변 인수

In [33]:
def personal_info(**args):
    for key, value in args.items():
        print(f'{key}:{value}')

In [35]:
personal_info(age=25, address='제주도 제주시 연동', name = '홍길동')

age:25
address:제주도 제주시 연동
name:홍길동

In [42]:
def personal_info3(name, age, address='비공개'):
    print('이름:', name)
    print('나이:', age)
    print('주소:', address)

In [40]:
personal_info3(age=25, address='제주도 제주시 연동', name = '홍길동')

이름: 홍길동
나이: 25
주소: 제주도 제주시 연동

In [44]:
personal_info3(age=25, name = '홍길동')

이름: 홍길동
나이: 25
주소: 비공개