# 조건문 문제
# 1번문제

In [ ]:
# 연도를 입력으로 받아 윤년인지 아닌지를 출력하는 프로그램을 작성하시오. 
# 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.
# 예를들어, 2012년은 4의 배수라서 윤년이지만, 1900년은 4의 배수이지만, 100의 배수이기 때문에 윤년이 아니다. 
# 하지만, 2000년은 400의 배수이기 때문에 윤년이다.)

In [7]:
# 내가 푼 문제
year = int(input())
if year % 400 == 0 :
    print(f'{year}은 윤년입니다.')
elif year % 100 == 0 :
    print(f'{year}은 윤년이 아닙니다.')
elif year % 4 == 0 :
    print(f'{year}은 윤년입니다.')

In [ ]:
year = int(input())

In [8]:
# 선생님이 푼 문제
year = int(input())
if year % 400 == 0 :
    print(f'{year}은 윤년입니다.')
elif year % 100 == 0 :
    print(f'{year}은 윤년이 아닙니다.')
elif year % 4 == 0 :
    print(f'{year}은 윤년입니다.') 
else:
    print(f'{year}은 윤년이 아닙니다.')

5은 윤년이 아닙니다.

# 2번문제

In [ ]:
# 본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아 오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [30]:
# 내가 푼 문제
year = int(input())
month = int(input())
day = int(input())
age = 2021 - year + 1
if month < 11:
    print(f'만 {age-1}살 입니다.')
elif month >= 11 :
    if day < 19 :
        print(f'만 {age-2}살 입니다.')
    elif day >= 19 :
        print(f'만 {age-1}살 입니다.')

만 21살 입니다.

In [14]:
# 선생님이 푼 문제
from datetime import date
today = date.today()
today

year, month, day = map(int,input().split())
if month > today.month :
    age = today.year - year
elif month <= today.month :
    age = today.year - year-1
else:
    if day > today.date :
        age = today.year - year
    else :
        age = today.year - year
print(f'생년월일이 {year}-{month}-{day}인 사람의 만 나이는{age}입니다.')

생년월일이 2000-3-27인 사람의 만 나이는21입니다.

# 3번문제

In [31]:
#3. 세 자연수 a, b, c 가 피타고라스 정리 a2 + b2 = c2 를 만족하면 피타고라스 수라고 부른다. (여기서 a < b < c 이고 a + b > c)
#예를 들면, 32 + 42 = 9 + 16 = 25 = 52 이므로 3, 4, 5는 피타고라스 수입니다.
#a + b + c = 1000 인 피타라스 수를 구하시오. (답은 한가지 뿐이다.)

In [16]:
# 내가 푼 문제
for x in range(1000):  
    for y in range(1000):
        for z in range(1000):
            if x**2 + y**2 == z**2:
                if x < y < z and x + y > z:
                    if x + y + z == 1000:
                        print(x,y,z)
                        
                        
                                                         # x=200
                                                         # y=375
                                                         # z=425

200 375 425

In [15]:
# 선생님이 푼 문제
for a in range(1,1001):
    for b in range(a+1,1001):
        c = 1000 - a - b
        if a*a + b*b == c*c :
            print(a,b,c)
            break

200 375 425

In [ ]:
# 선생님이 푼 문제
flag = False
for a in range(1,333):                   #a는 332까지
    for b in range(a+1,500):             #b는 499까지
        c = 1000 - a - b
        if a*a + b*b == c*c :
            print(a,b,c)
            flage = True
            break
    if flag:
        break

# 반복문 문제
# 1번문제

In [59]:
#(별 그리기) 5이상 9이하의 홀수를 입력받아 다이아몬드 형태의 별을 출력하는 프로그램을 작성하시오. 
# 예) N=7                                   N=5
#   *                                     #  * 
#  ***                                    # ***
# *****                                   #*****    
#*******                                  # ***
# *****                                   #  * 
#  ***
#   *

In [3]:
a = int(input())

if 5 <= a <=9 and a % 2 == 1:
    if a == 5:
        for i in range(3):
            for k in range(2-i):
                print(' ',end='')
            for k in range(2*i+1):
                print('*',end='')
            print()
        for i in range(2,0,-1):
            for k in range(3-i):
                print(' ',end=(''))
            for k in range(2*i-1):
                print('*',end='')
            print()

    if a == 7 :
        for i in range(4):
            for k in range(3-i):
                print(' ',end='')
            for k in range(2*i+1):
                print('*',end='')
            print()
        for i in range(3,0,-1):
            for k in range(4-i):
                print(' ',end='')
            for k in range(2*i-1):
                print('*',end='')
            print()

    if a == 9 :
        for i in range(5):
            for k in range(4-i):
                print(' ', end='') 
            for k in range(2*i+1):
                print('*',end='')
            print()
        for i in range(4,0,-1):
            for k in range(5-i):
                print(' ', end='') 
            for k in range(2*i-1):
                print('*',end='')
            print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

# 2번문제

In [ ]:
#2. 디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요? -
#   디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됨.
#   00:00 (60초간 표시) 00:01 … 23:59

In [ ]:
#3. 1~1000에서 각 숫자의 개수를 구하시오. 
# - 예로 10 ~ 15 까지의 각 숫자의 개수를 구해보자. 
# 10 = 1, 0 11 = 1, 1 12 = 1, 2 13 = 1, 3 14 = 1, 4 15 = 1, 5
#그러므로 이 경우의 답은 0:1개, 1:7개, 2:1개, 3:1개, 4:1개, 5:1개

In [ ]:
print(f'{1:{a}개, 2:{b}개, 3:{c}개, 4:{d}개, 5:{e}개, 6:{f}개, 7:{g}개, 8:{h}개. 9:{l}개 입니다.')

In [3]:
for i in range(1,1001):
  str(i)
  if i < 10 :
    print(f'{1:{a}개, 2:{b}개, 3:{c}개, 4:{d}개, 5:{e}개, 6:{f}개, 7:{g}개, 8:{h}개. 9:{l}개 입니다.')

SyntaxError: f-string: expecting '}' (<ipython-input-3-01b00338ddaa>, line 3)

In [2]:
for i in range(1,1001):
    if i == 10 :
        print(1,0)

1 0

In [ ]:
# 4. 자기 자신을 제외한 모든 양의 약수들의 합이 자기 자신이 되는 자연수를 완전수라고 한다. 예를 들면, 6과 28은 완전수이다. 6=1+2+3         
# # 1,2,3은 각각 6의 약수 28=1+2+4+7+14   # 1,2,4,7,14는 각각 28의 약수.
# 입력으로 자연수 N을 받고, 출력으로 N 이하의 모든 완전수를 출력하는 코드를 작성하시오.

In [37]:
N = int(input())
for i in range (2,7):
    if N % i == 0 :
        i=N/i
        print(int(i),end = "")
        
    print(end = " ")
    i!=i

3 2   1

In [ ]:
import random as rd 
rd.seed(2021)
dice = rd.randint(1,6)
while dice != 3:
    print(dice, end=' ')
    dice = rd.randint(1,6)

In [44]:
N = int(input())
while 0 < i < N  :
    for a in range(2,N) :
        if i % a == 0:
            a = i/a
            print(int(a), end='')
            i=i+1
    print(end = '')

1111

In [ ]:
N = int(input())
while 0 < i < 6  :
    for a in range(2,6) :        #a=2 3 4 5
        if i % a == 0:
            
            a = i/a
            print(int(a), end='')
            i=i+1
    print(end = '')

In [ ]:
# 5. 1부터   10까지   자연수를   각각   제곱해   더하면   다음과   같다    (제곱의   합). 
#    12 + 22 + ... + 102 = 385 
#1부터   10을   먼저   더한   다음에   그   결과를   제곱하면   다음과   같습니다   (합의   제곱).
#(1 + 2 + ... + 10)2 = 552 = 3025 
#따라서   1부터   10까지   자연수에   대해    "합의   제곱"과 
#"제곱의   합"의   차이는   3025 - 385 = 2640 이 된다.
#입력으로   자연수   N을   받아, 1부터   N까지   자연수에   대해   
#"합의   제곱"과   "제곱의   합"의   차이는 얼마인가?