# 조건문 문제
# 1번문제

In [ ]:
# 연도를 입력으로 받아 윤년인지 아닌지를 출력하는 프로그램을 작성하시오. 
# 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.
# 예를들어, 2012년은 4의 배수라서 윤년이지만, 1900년은 4의 배수이지만, 100의 배수이기 때문에 윤년이 아니다. 
# 하지만, 2000년은 400의 배수이기 때문에 윤년이다.)

In [16]:
year = int(input())
if year % 400 == 0 :
    print(f'{year}은 윤년입니다.')
elif year % 100 == 0 :
    print(f'{year}은 윤년이 아닙니다.')
elif year % 4 == 0 :
    print(f'{year}은 윤년입니다.')

2600은 윤년이 아닙니다.

# 2번문제

In [ ]:
# 본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아 오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [30]:
year = int(input())
month = int(input())
day = int(input())
age = 2021 - year + 1
if month < 11:
    print(f'만 {age-1}살 입니다.')
elif month >= 11 :
    if day < 19 :
        print(f'만 {age-2}살 입니다.')
    elif day >= 19 :
        print(f'만 {age-1}살 입니다.')

만 21살 입니다.

# 3번문제

In [31]:
#3. 세 자연수 a, b, c 가 피타고라스 정리 a2 + b2 = c2 를 만족하면 피타고라스 수라고 부른다. (여기서 a < b < c 이고 a + b > c)
#예를 들면, 32 + 42 = 9 + 16 = 25 = 52 이므로 3, 4, 5는 피타고라스 수입니다.
#a + b + c = 1000 인 피타라스 수를 구하시오. (답은 한가지 뿐이다.)

In [58]:
for x in range(1000):  
    for y in range(1000):
        for z in range(1000):
            if x**2 + y**2 == z**2:
                if x < y < z and x + y > z:
                    if x + y + z == 1000:
                        print(x,y,z)                     # x=200
                                                         # y=375
                                                         # z=425

200 375 425

KeyboardInterrupt:

# 반복문 문제
# 1번문제

In [59]:
#(별 그리기) 5이상 9이하의 홀수를 입력받아 다이아몬드 형태의 별을 출력하는 프로그램을 작성하시오. 
# 예) N=7                                   N=5
#   *                                     #  * 
#  ***                                    # ***
# *****                                   #*****    
#*******                                  # ***
# *****                                   #  * 
#  ***
#   *

In [119]:
a = int(input())

if 5 <= a <=9 and a%2 == 1:
    if a == 5:
        for i in range(3):
            for k in range(2-i):
                print(' ',end='')
            for k in range(2*i+1):
                print('*',end='')
            print()
        for i in range(2,0,-1):
            for k in range(3-i):
                print(' ',end=(''))
            for k in range(2*i-1):
                print('*',end='')
            print()

    if a == 7 :
        for i in range(4):
            for k in range(3-i):
                print(' ',end='')
            for k in range(2*i+1):
                print('*',end='')
            print()
        for i in range(3,0,-1):
            for k in range(4-i):
                print(' ',end='')
            for k in range(2*i-1):
                print('*',end='')
            print()

    if a == 9 :
        for i in range(5):
            for k in range(4-i):
                print(' ', end='') 
            for k in range(2*i+1):
                print('*',end='')
            print()
        for i in range(4,0,-1):
            for k in range(5-i):
                print(' ', end='') 
            for k in range(2*i-1):
                print('*',end='')
            print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [112]:
# Diamond 그리기
for i in range(4):
    for k in range(3-i):
        print(' ', end='')
    for k in range(2*i+1):
        print('*', end='')
    print()

   *
  ***
 *****
*******

# 2번문제

In [ ]:
#2. 디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요? -
#   디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됨.
#   00:00 (60초간 표시) 00:01 … 23:59